<!DOCTYPE html>
<html lang="vi">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ABC Assistant</title>


    <link rel="stylesheet" href="style.css">


    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>


<body>


<div class="container">


    <!-- HEADER -->

    <div class="header">

        <div class="logo">


            <img src="image.png" alt="Bot">


            <div>

                <h2>Tuất Vinh</h2>

                <span>
                    Nhân viên chăm sóc khách hàng
                </span>

            </div>


        </div>


    </div>



    <!-- CHAT -->

    <div class="chat-body" id="chatBody">


        <div class="bot-message">


            <img src="image.png" class="avatar">


            <div class="message">


                Xin chào 👋
                <br><br>

                Em là <b>Tuất Vinh</b>.

                Em là nhân viên chăm sóc khách hàng của cửa hàng ABC.

                Em có thể tư vấn sản phẩm, giá và tình trạng còn hàng.


            </div>


        </div>


    </div>




    <!-- LOADING -->

    <div class="typing" id="typing">


        <img src="image.png" class="avatar">


        <div class="typing-box">


            <span></span>

            <span></span>

            <span></span>


        </div>


    </div>




    <!-- FOOTER -->

    <div class="footer">


        <input
        id="messageInput"
        type="text"
        placeholder="Nhập câu hỏi...">



        <button id="sendButton">


            <i class="fa-solid fa-paper-plane"></i>


        </button>


    </div>



</div>


<script src="script.js"></script>


</body>


</html>